.product-card {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
}

.product-item {
    margin-top: 100px;
}

.product-details {
    margin-top: 18px;
}

select {
    display: block;
    margin: 0 auto;
    width: 100px;
}